<!-- Assignment #1 Express Portfolio
     Nicholas Metcalf (200321780
     Footer-->

</main> <!-- close main content area -->

<footer id="foot" class="alert alert-info">
    <div>&copy; 2016 | Nick Metcalf</div>
</footer>

</body>
</html>