<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
</head>
<link rel="stylesheet" href="/stylesheets/bootstrap.css" />
<body>
<header>
<nav class="navbar navbar-default navbar-fixed-top">
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Nick</a></li>
        <li><a href="/skills">Skills</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>
</header>
<main>
