<!-- Assignment #1 Express Portfolio
     Nicholas Metcalf (200321780
     Header partial file for consistent css, navbar, etc-->

<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
</head>

<link rel="stylesheet" href="/stylesheets/bootstraps.css" />

<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.js"></script>
<body>
<header>


    <!--Responsive navbar-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapseNav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="collapseNav">
                <ul class="navee">
                    <li><a href="/">Nick</a></li>
                    <li><a href="/skills">Skills</a></li>
                    <li><a href="/projects">My Work</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

<main>
