<!-- Assignment #1 Express Portfolio
     Nicholas Metcalf (200321780
     Basic landing page-->

<%include partials/header.ejs%>

<div class="container">
    <div class="jumbotron">
        <h1>Nicholas Metcalf</h1>
        <h3>Programming Student</h3>
        <br />
        <h2>White-Collar Skillset, Blue-Collar Attitude</h2>
        <p>Hi! I'm Nick Metcalf. I'm a second year programming student at <a href="http://www.Georgiancollege.ca">Georgian College.</a>
        I have a well-rounded and ever-growing <a href="/skills">set of skills</a> in various aspects of computing, with a
        focus in web technologies.</p>
    </div>
</div>

<%include partials/footer.ejs%>