<!-- Assignment #1 Express Portfolio
     Nicholas Metcalf (200321780
     Basic landing page-->

<%include partials/header.ejs%>

<div class="container">
    <div class="jumbotron">
        <h1>Nicholas Metcalf</h1>
        <h3>Programming Student</h3>
        <br />
        <h2>White-Collar Skillset, Blue-Collar Attitude</h2>
        <p>Hi! I'm Nick Metcalf. I'm a student of computer programming at <a href="Georgiancollege.com">Georgian College.</a>
        I have an ever-growing <a href="/skills">set of skills</a> in various aspects of computing.</p>
    </div>
</div>

<%include partials/footer.ejs%>