<!-- Assignment #1 Express Portfolio
     Nicholas Metcalf (200321780
     some examples of my work-->

<%include partials/header.ejs%>

<div class="container">
    <div class="jumbotron">
        <h1>My Work</h1>
        <br/>
        <p>Here are some examples of my work that I've done through school.</p>

        <h2>Web Design/Development</h2>

        </br>
        <h3><a href="http://gc200321780.computerstudi.es/comp1006/imgupload/drawings.php">Image upload Gallery (PHP)</a></h3>

        <p>A basic PHP site where users can upload their artwork. <a href="https://github.com/McDecaff/imgupload">Github</a></p>

        <h3><a href="http://gc200321780.computerstudi.es/sega32x/">Mock Advertisement (HTML/CSS)</a></h3>
        <p>A mock-advertisement for the Sega 32x using responsive CSS and HTML</p>

        <h3>Online Portfolio (node.js/express)</h3>
        <p>This page itself brought to you by Node and Express. <a href="https://github.com/McDecaff/portfolio">Github</a></p>

        </br><h2>Misc Programming</h2></br>
        <h3><a href="https://www.mediafire.com/?6vk6wpezsz3kkgv">Business Tracking System (Java CLI)</a></h3>
        <p>A very basic employee and product tracking system, built in Java.</p>

        <h3><a href="http://www.mediafire.com/file/g494uby59s574b4/BookSales.zip">Book Sales POS calculator (C# with Visual Studio)</a></h3>
        <p>A POS sale system for books.</p>
    </div>
</div>

<%include partials/footer.ejs%>