<%include partials/header.ejs%>

<div class="container">
    <div class="jumbotron">
        <h1><%= title %></h1>
        <br/>
        <h2>Web Development</h2>
        <p>HTML, CSS, PHP, JavaScript (including node.js)</p>
        <h2>General Development</h2>
        <p>Java, C#</p>
        <h2>General IT Skills</h2>
        <p>Networking, OS Setup/Backup/Restore, General Windows Operations</p>
        <h2>Minor Skills</h2>
        <p>Arduino Development, Python, Photoshop, General Graphic Design</p>
    </div>
</div>

<%include partials/footer.ejs%>